/* Estilo general para fondo y texto */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #ffc0cb;
  background-image: url('https://www.transparenttextures.com/patterns/heart-wall.png');
  font-family: Arial, sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  -webkit-tap-highlight-color: transparent;

}

/* Contenedor centrado */
.container {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  text-align: center;
  -webkit-tap-highlight-color: transparent;

}

/* Estilo del título */
#titulo {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -webkit-tap-highlight-color: transparent;

  user-select: none;
  font-family: Arial;
  font-size: 3rem;
  color: #ff69b4;
  cursor: pointer;
  margin-bottom: 20px;
}

/* Estilo del reloj */
#reloj {
  font-family: Arial;
  font-size: 2rem;
  color: #ff1493;
  margin-top: 20px;
}

/* Estilo para las imágenes de los gatos */
.gato {
  display: none;
  width: 300px;
  height: auto;
  margin: 10px 0;
}
